@media (max-width: 1280px) {
	#navbar{
	margin: 0;
	}
}

@media (max-width: 995px) {
	#custom-nav {
		height: 70px !important;
		min-height: 70px !important;
		max-height: 70px !important;
		background-color: #f47d31;
		box-shadow: none;
		border: none;

	}

	.procura-form{
        padding: 6px 0;
        background-color: #c66223;
        width: 200%;
        height: 35px;

	}
}

@media (max-width: 767px) {
	#custom-nav {
		height: 50px !important;
		min-height: 50px !important;
		max-height: 50px !important;
		background-color: #f47d31;
		box-shadow: none;
		border: none;

	}
}